MAIL_SERVER=smtp.gmail.com
MAIL_PORT=587
MAIL_USE_TLS=true
MAIL_USERNAME=tu-cuenta@gmail.com
MAIL_PASSWORD=tu-contrasena-de-aplicacion
MAIL_DEFAULT_SENDER=tu-cuenta@gmail.com

NO_ABONADO_MAIL_USERNAME=otra-cuenta@gmail.com
NO_ABONADO_MAIL_PASSWORD=otra-contrasena-de-aplicacion
NO_ABONADO_MAIL_DEFAULT_SENDER=otra-cuenta@gmail.com
